export(drukuj_tabele)
export(drukuj_szablon)
export(drukuj_rysunki)
export(rozdzial)
export(podrozdzial)
export(akapit)
export(nowa_strona)
export(lista_numerowana)
export(lista_punktowana)
export(initializuj_numeracje)
export(numeracja)
export(knit_moj)